<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    
    <!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    
<title>New My Device</title>
</head>
<body>
	
	 <!-- Include Top Menu(Navigation bar) -->
	<div th:include="topMenu :: topMenu"></div>

	<!-- Page Content -->
    <div class="container">
    
		<!-- Page Heading/Bread crumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">New My Device
                    <small>Add device</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/index">Home</a>
                    </li>
                    <li class="active">New My Device</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        
		<div th:if="${param.error}">
			Invalid user name and password.
		</div>
		<div th:if="${param.logout}">
			You have been logged out.
		</div>
		
		<!-- add new device form and help -->
		<div class="row">
			<div class="col-md-8">
				<h3>Add New Device</h3>
                <form name="NewDeviceForm" th:action="@{/devices/newMyDevice}" method="post" novalidate="novalidate">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Device Name</label>
                            <input type="text" class="form-control" id="deviceName" name="deviceName" required="required" data-validation-required-message="Please enter device name." />
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Description</label>
                            <textarea rows="10" cols="50" class="form-control" id="description" name="description" required="required" data-validation-required-message="Please enter description." maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>                 
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Location</label>
                            <input type="text" class="form-control" id="location" name="location" required="required" data-validation-required-message="Please enter location." />
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Tags</label>
                            <p>tag,tag,tag,tag</p>
                            <input type="text" class="form-control" id="tags" name="tags" required="required" data-validation-required-message="Please enter tags" />
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Number of data fields</label>
                            <div class="row">
                            	<div class="col-xs-2">
                            		<select class="form-control" id="fieldsNumber" name="fieldsNumber">
                            			<option>1</option>
                            			<option>2</option>
                            			<option>3</option>
                            			<option>4</option>
                            			<option>5</option>
                            		</select>
                           		</div>
                            
                            </div>
                        	<p class="help-block">   1 ~ 5 data fields available</p>
                        	
                        </div>
                    </div>
                    
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Add Device</button>
                </form>	
			</div>
			<div class="col-md-4">
				<h3>Help</h3>
			</div>
		</div>
        
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>
        <!-- ./Footer -->
        
     </div>
     <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    
    <!-- form validation -->
	<script src="/js/jqBootstrapValidation.js"></script>
    <script>
  		$(function () { $("input,textarea").not("[type=submit]").jqBootstrapValidation(); } );
	</script>
    
     
</body>
</html>