<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    
    <!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    
     <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    
   <!-- Include device field view tab -->
	<script th:include="devices/deviceSettingView :: deviceSettingViewHeader"></script>	

<title>Device Detail</title>
</head>
<body>
 	<!-- Include Top Menu(Navigation bar) -->
	<div th:include="topMenu :: topMenu"></div>

	<!-- Page Content -->
    <div class="container">
    
		<!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Device
                    <small>Management</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/index">Home</a>
                    </li>
                    <li><a href="/devices/myDevices">My Devices</a>
                    </li>
                    <li class="active">My Devices</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Service Tabs -->
        <div class="row">
        	<div class="col-lg-12">
                <h2 class="page-header" th:text="${device.deviceName}">Service Tabs</h2>
            </div>
            <div class="col-lg-12">
                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#device-fields" data-toggle="tab"><i class="fa fa-line-chart"></i> Fields</a>
                    </li>
                    <li class=""><a href="#device-setting" data-toggle="tab"><i class="fa fa-cog"></i> Device Setting</a>
                    </li>
                    <li class=""><a href="#api-keys" data-toggle="tab"><i class="fa fa-key"></i> API Keys</a>
                    </li>
                    <li class=""><a href="#device-info" data-toggle="tab"><i class="fa fa-info"></i> Info</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="device-fields">
						<!-- Include device field view tab -->
						<div th:include="devices/deviceFieldView :: deviceFieldView"></div>	
					</div>
                    <div class="tab-pane fade" id="device-setting">
                    	
                    	<!-- Include device device setting view tab -->
						<div th:include="devices/deviceSettingView :: deviceSettingView"></div>	
                    </div>
                    <div class="tab-pane fade" id="api-keys">
                    	<!-- Include device api key view tab -->
						<div th:include="devices/deviceApiKeyView :: deviceApiKeyView"></div>
                    </div>
                    <div class="tab-pane fade" id="device-info">
                        <h4>Information</h4>
                        <p>Info.</p>
                    </div>
                </div>

            </div>
        </div> 
     <!-- end tab -->
     <hr></hr>
    <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>
        <!-- ./Footer -->
            
	</div>
     <!-- /.container -->

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- high chart -->
    <script src="/js/highcharts.js"></script>
</body>
</html>