<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Registration</title>
</head>
<body>
	<form action="#" th:action="@{/registration}" th:object="${testUser}" method="post">
		<table>
			<tr>
				<td>ID : </td>
				<td><input type="text" th:field="*{userID}" /></td>
				<td th:if="${#fields.hasErrors('userID')}" th:errors="*{userID}">Name Error</td>
			</tr>
			<tr>
				<td>Student number : </td>
				<td><input type="text" th:field="*{studentNumber}" /></td>
				<td th:if="${#fields.hasErrors('studentNumber')}" th:errors="*{studentNumber}">Name Error</td>
			</tr>
			<tr>
				<td>Name : </td>
				<td><input type="text" th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
			</tr>
			<tr>
				<td>Password : </td>
				<td><input type="password" th:field="*{password}" /></td>
				<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
</body>
</html>